<h2>
  <%= "#{@project.name}  (#{@project.number})" %>
  <span><%= link_to "Project by number", project_path(@project.id)%></span>
</h2>
<%= render partial: "stats", locals: {project: @project}  %>
<h5><%= "Estimated Footage: #{@project.footage || 0} ft." %></h5>
<br>
<h5><%= "Detailed Footage: #{@project.detailed_footage || 0} ft." %></h5>
<hr>
<h4>Events</h4>
<br>
<table>
  <tr>
    <th>Drawings</th>
    <th>Status Change</th>
    <th>Note Change</th>
    <th>Footage Change</th>
    <th>Date</th>
  </tr>
  <% @project.project_histories.each do |event| %>
    <tr>
      <td class="table-column"><%= event.drawings %></td>
      <td class="table-column"><%= event.status || "-" %></td>
      <td class="table-column notes"><%= event.notes || "-" %></td>
      <td class="table-column"><%= "#{ event.footage || 0 } ft."%></td>
      <td class="table-column "><%= event.created_at.strftime("%b %d, %Y") %></td>
    </tr>
  <% end %>
</table>
<br>
<hr>
<%= render partial: 'drawings_list', locals: { project: @project, order: :drawings_by_status }%>
<br>
<%= render partial: 'drawings/form', locals: { project: @project }%>
